@charset "UTF-8";
  @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

--root {
    --fonte-inter:'Inter', sans-serif;
}

.cabecalho-container {
    background-color: antiquewhite;
    width: 100%;
    height: 45px;
    padding: 0 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
/* conteudo novo não aprendido*/
.cabecalho-container ul {
    display: flex;
    align-items: center;
    gap: 40px;
}

