@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

:root {
    --fundo-escuro: #000;
    --fundo-card: #1d2226;
    --fundo-card-ativo: hsla(0, 0%, 100%, 0.12);
    --texto-principal: hsla(0, 0%, 100%, 0.9);
    --texto-secundario: hsla(0, 0%, 100%, 0.6);
    --texto-escuro: hsla(0, 0%, 0%, 0.75);
    --input: #38434F;
    --primario: #70b5f9;
    --positivo: #3ec786;
    --font: 'Roboto', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 52px;
    background-color: var(--fundo-card);
}
.conteiner-pesquisa {
    margin: 10px;
    display: flex;
    background-color: var(--input);
    width: 280px;
    height: 34px;
    border-radius: 4px;
}
.img-pesquisa {
    position: relative;
    width: 24px;
    height: 24px;
    margin: 5px;
}
::placeholder{
    color: var(--primario);
    font-weight: 600px; 
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 1px;
}
 input {  
    font-family: var(--font);
    margin: 2px 40px;
    border: none;
    background: none;
    position: absolute;
    width: 240px;
    height: 30px;
}
main {
    position: relative;
   display: block;
    background-color: var(--fundo-card);
    width: 780px;
    height: 468px;
    top: 76px;
    left: 154px;
    border-radius: 4px;
}
.foto-perfil {
    position: absolute ;
    left: 25px;
    top:  112px;
}
.perfil{
    margin: 25px;;    

}
h1 {
    color: var(--texto-principal);
    font-family: var(--font);
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    margin-top: 45px;
    margin-bottom: 5px;
}
p {
    color: var(--texto-secundario);
    font-family: var(--font);
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
}
span {
    color: var(--primario);
    font-family: Roboto;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0em;
    margin-bottom: 15px;
}
a {
    color: var(--primario);
}
button {
    color: var(--texto-escuro);
    background-color: var(--primario);
    border: none;
    margin: 5px;
    border-radius: 16px;
    width: 128px;
    height: 32px;
    display: inline-block;
}
.btn-2{
    color: var(--primario);
    background-color: var(--fundo-card);
    border: 1px solid var(--primario);
}
.side-right {
    display: flex;
    justify-content: flex-end;
    margin-top: -200px;    
}
.side-right > img {
    display: block;
}
