@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

:root {
    --fundo-escuro: #000;
    --fundo-card: #1d2226;
    --fundo-card-ativo: hsla(0, 0%, 100%, 0.12);
    --texto-principal: hsla(0, 0%, 100%, 0.9);
    --texto-secundario: hsla(0, 0%, 100%, 0.6);
    --texto-escuro: hsla(0, 0%, 0%, 0.75);
    --input: #38434F;
    --primario: #70b5f9;
    --positivo: #3ec786;
    --font: 'Roboto', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* barra de persquisa */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 52px;
    background-color: var(--fundo-card);
}
.conteiner-pesquisa {
    margin: 10px;
    display: flex;
    background-color: var(--input);
    width: 280px;
    height: 34px;
    border-radius: 4px;
}
.img-pesquisa {
    position: relative;
    width: 24px;
    height: 24px;
    margin: 5px;
}
::placeholder{
    color: var(--primario);
    font-weight: 600px; 
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 1px;
}
 input {  
    font-family: var(--font);
    margin: 2px 40px;
    border: none;
    background: none;
    position: absolute;
    width: 240px;
    height: 30px;
}
/* corpo da web */

